.timeWrapper .selectBlock {
  display: grid;
  grid-template-columns: 27% 27% 27%;
  text-align: center;
  justify-content: space-between;
}

.timeWrapper .selectBlock .time {
  margin-top: 14px;
  border-radius: 8px;
  padding: 5px;
  background-color: #fff;
}

.todayBlock {
  position: relative;
}

.time.select {
  background-color: #d27c3b !important;
  color: #fff;
}

.todayBlock span {
  font-size: 14px;
  color: #777;
  position: relative;
  top: 2px;
}

.reserveTime {
  margin-left: 5px;
}

.time.stop {
  opacity: 0.2;
}

.submitBlock {
  width: 90px;
  display: flex;
  justify-content: space-around;
  color: #9d4a13;
  position: absolute;
  right: 0;
  top: 2px;
  opacity: 0.2;
}

.submitBlock.click {
  opacity: 1;
}

.submit {
  width: 100px;
}

.icon {
  position: relative;
  top: 4px;
}

.nullBlock {
  height: 130px;
  width: 100%;
}
